*{
    margin: 0%;
    padding: 0%;
}
body{

}
.titre_maternite{
    text-align: center;
    color: green;
    font-weight: bold;
}
body .container .row .bloc_details_maternite{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.p_centre{
    text-align: justify;
}
body .container .row_last_bloc_maternite .bloc_accouchement .img_accouchement{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img_maternite:hover{
    box-shadow: 1px 1px 10px 10px rgb(192, 17, 17);
}
body .container .row_last_bloc_maternite .bloc_accouchement .h4_accouchement{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
body .container .row_last_bloc_maternite .bloc_hospitalisation .img_hospitalisation{
    float: right;
    
}
body .container .row_last_bloc_maternite .bloc_hospitalisation .h4_hospitalisation{
    text-align: right;
}
.a_titre_sous_servive_maternite:hover{
    text-decoration: none;
}
.titre_sous_servive_maternite{
    color: green;
    font-weight: bold;
}
.details_sous_services{
    width: 50%;
    display: none;

}
.img_maternite:hover .details_sous_services{
    display: block;
}

/*style de pharmacopee*/
.image_Pharma{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.titre_sous_pharma{
    color: green;
    font-weight: bold;
}
.h4_ressources{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.h4_documentation{
    text-align: right;
}
.details_definition{
    display: block;
    width: 40%;
}
.details_ressources{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}