*{
    margin: 0%;
    padding: 0%;
}                                /*l'entete*/
.bg-green{
    background-color: green;
}

ul li{
    display: inline;
    margin-left: 60px;
   
}
ul{
    color: white;
}

.menu{
    margin-top:40px;
    list-style: none;
    color: white;
}
.txtmenu a {
    display:flex;
}
.txtmenu .logo{
    border-radius:30px ;
    margin-top:6px ;
}
.txt1{
    position: relative;
    top: 8px;
}
.entete{
    border-bottom: 5px solid black;
}
.RC{
    margin-top: 25px;
}                         /* Fin entete*/

                            /* Debut contenu page d'acceuil*/
.B1{
    border: 1px solid black;
    margin-top: 20px;
    height: 300px;
    width: 700px;
}
.B2{
    border: 1px solid black;
    margin-top: 30px;
    height: 200px;
    width: 250px;
    margin-left: 105px;
}
.B2 .bar{
    border: 1px solid black;
    background-color: green;
    width: 200px;
    margin-left: 25px;
    margin-top: 10px;

}



                                /* Debut page contact */


.imageF{
    background-image: url(C:\Users\hP\Desktop\PROJETALLODOCTEUR\hallo-docteur\style\images-batiment);
    border: 1px solid black;
    height: 350px;
    width: 950px;
    margin-left: 200px;
    margin-top: 60px;
}
.ccarte{
   margin-left: 600px;
  position: relative;
  bottom: 250px;
  
     
 }
 .textAD{
    
     width: 600px;
     height: 350px;
 }
 .ct{
     
     margin-top: 25px;
     margin-left: 20px;
 }
 .l1{
     border:black solid 3px;
     width: 200px;
     margin-inline: 10px;
 }
 .BH{
     display: flex;
     margin-left: 250px;
     margin-top: 15px;
 }
 .boutton{
     margin-left: 500px;
 }
 
 .formulaire{
     width: 600px;
     margin-left: 200px;
     margin-top: 25px;
 }
                                                /* Fin page contact */

                                    /* Debut page A propos */

.capp{
   
    margin-top: 55px;
}
.l2{
    border:black solid 2px;
    width: 150px;
    margin-inline: 90px;
}
.BH2{
    display: flex;
    margin-left: 100px;
    margin-top: 55px;
}
.textapp{

margin-top: 55px;

}
.imagev{
    margin-left: 320px;
  
}
.imagev img{
border-radius: 35px;
}
.textev{
    
    width: 500px;
    margin-left: 250px;
    margin-top: 25px;

}

.tvlr{
    margin-left: 200px;
}
.formulaire{
    
    margin-left: 400px;
    position: relative;
    top: 55px;
    
}
.formm{
    height: 300px;
}
